html
    head
        title #{title}
    body
        h1 Fresh News
        div(id='news_wrap')
            ul
            -
              var list = message
            each item in list
              li= item